@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=DM+Serif+Display&display=swap');

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-app-bg: var(--bg);
  --color-text-main: var(--text);

  --font-sans: 'Inter', ui-sans-serif, system-ui;
  --font-serif: 'DM Serif Display', serif;       /* "Stop Scrolling" */
}

:root {
  --nav-bg: #333d46;    
  --primary: #24304D;   
  --secondary: #38BDF8; 
  --bg: #e9f6fb;        
  --text: #0F172A;
}      

[data-theme='dark'] {
  --primary: #020617;
  --secondary: #38BDF8; 
  --bg: #0F172A;        
  --text: #F1F5F9;
}

[data-theme='emerald'] {
  --primary: #064E3B;
  --secondary: #10B981;
  --bg: #F0FDF4;
  --text: #064E3B;
}